flask==2.3.3
flask-cors==4.0.0
torch==2.0.1
pillow==10.2.0
opencv-python-headless==4.9.0.80
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
scipy==1.13.0
pyyaml==6.0.1
seaborn==0.13.2
tqdm==4.66.2
requests==2.31.0
